* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    background-color: #F2F2F2;
    color: #333333;
    line-height: 1.5;
}

header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #E0E0E0;
    position: sticky;
}

.bar {
    max-width: 1140px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

header h1 {
    color: #C4170C;
    font-size: 2.2rem;
    font-weight: 800;
}

ul {
    display: flex;
    gap: 25px;
    list-style-type: none;
    justify-content: center;
}

ul li a {
    text-decoration: none;
    color: #666666;
    font-weight: 700;
    text-transform: uppercase;
}

ul li a:hover {
    color: #C4170C;
    border-bottom: 3px solid #C4170C;
}

main {
    max-width: 1140px;
    margin: 30px auto;
    padding: 0 20px;
}

section {
    background-color: #FFFFFF;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #333333;
    font-weight: 800;
    margin-bottom: 20px;
    border-bottom: 2px solid #333333;
}

section p {
    text-align: justify;
}

.campeonatos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.card-campeonato{
    border-radius: 15px;
    padding: 10px;
}

.card-campeonato h3 {
    color: #C4170C;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.card-campeonato p {
    font-size: 0.95rem;
    color: #666666;
}

footer {
    background-color: #222222;
    color: #999999;
    text-align: center;
    padding: 30px 20px;
    font-size: 0.85rem;
    margin-top: 60px;
    font-weight: bold;
}
